{% extends "base.html" %}

{% block content %}
<h2>{{ participant.first_name }} {{ participant.last_name }}
  {% if participant.is_superuser %} <span class="text-muted">(Guide)</span>{% endif %}
</h2>
<p><strong>Username:</strong> {{ participant.username }}</p>
<p><strong>First name:</strong> {{ participant.first_name }}</p>
<p><strong>Last name:</strong> {{ participant.last_name }}</p>
<p><strong>Skill Level:</strong> {{ participant.skill_level }}</p>
<p><strong>Active trips:</strong>
  {% if participant.trips.all %}
    <br>
    <span>
      {% for trip in participant.trips.all %}
        <a href="{{ trip.get_absolute_url }}">{{ trip }}</a><br>
      {% endfor %}
    </span>
  {% else %}
    <span>No active trips!</span>
  {% endif %}
</p>
<a href="{% url 'carpathians:participant-list' %}" class="btn btn-primary mt-3">Back to Participants</a>

{% endblock %}
