{% extends "base.html" %}

{% block content %}
<h2>Routes</h2>
{% if route_list %}
    <table class="table">
      <tr>
        <th>Start point</th>
        <th>End point</th>
        <th>Distance(km)</th>
        <th>Duration(h)</th>
        <th>Difficulty</th>
      </tr>
    {% for route in route_list %}
      <tr>
        <td>{{ route.start_point }}</td>
        <td>{{ route.end_point }}</td>
        <td>{{ route.distance_km }}</td>
        <td>{{ route.duration_hours }}</td>
        <td>{{ route.difficulty }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>No routes found.</p>
    {% endif %}
{% endblock %}
