{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Trips</h2>
  <a href="{% url 'carpathians:trip-create' %}" class="btn btn-outline-success">
    Create new trip
  </a>
</div>

<form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍">
</form>
{% if trip_list %}
    <ul>
      {% for trip in trip_list %}
        <li>
          <a href="{{ trip.get_absolute_url }}">{{ trip }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no activ trips!</p>
  {% endif %}
{% endblock %}
